/* Basic CSS for a simple HTML page */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}
.logo{
  max-width: 50px;
shape-margin:0;
}
h1 {
  color: #007bff;
  text-align: center;
}
.w3-third img {
    width: 90%;
    height: 150px;        
    object-fit: contain;  
    object-position: center;
    display: block;
    margin: 0 auto;
    background-color:none;
}
p {
  line-height: 1.6;
  margin-bottom: 15px;
}
#anh{
  background-color: white;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #218838;
}